# Insira suas credenciais do Rule34 abaixo
# Para conseguir as credenciais, vá até sua conta no rule34.xxx -> My Account -> Role até API

RULE34_USER_ID=
RULE34_API_KEY=

# Horário que o robô vai rodar as verificações (Formato HH:MM)
CRON_TIME=03:00

# (Opcional) Local customizado para salvar as imagens (ex: C:\Users\Nome\Fotos)
# Se deixar em branco, as fotos serão salvas na pasta "downloads" dentro deste projeto.
DOWNLOAD_DIR=